
:root{
    --pageWidth:1000px;
}

/* global */
.formBox1 input, .formBox1 select{border-radius:.5rem;}
.formBox1 .trip{display: flex;flex-wrap: wrap;gap: 1rem;align-items: center;}
.formBox1 .group.small{max-width:100px;}
.formBox1 form .btns{width: 100%;display:flex;justify-content: center;}
.btns .btn{border-radius:25px;max-width:200px;}
.btns .btn.icon{height:40px;width:40px;line-height: 50%;}
.formBox1 *:focus{outline: none;}
.formBox1 input[type='date']::-webkit-calendar-picker-indicator{background-color: lightblue;padding:.5rem;margin:-.5rem;border-radius: .2rem;}

/* body */
body{max-width:100vw;}
.ferryPages{background:rgb(224, 229, 234);}

.ferryPages .mainBox{background:#f0f8ff;width:100%;max-width:var(--pageWidth);margin:1rem auto;}
.ferryPages .mainBox>.inner{max-width: 100%;}
.ferryPages .mainBox.onlyTtlMainBox{background:transparent;text-align: center;}
.ferryPages .mainBox.onlyTtlMainBox .ttl{font-size: 2rem;}
.ferryPages .mainBox.onlyTtlMainBox .desc{font-size:1rem;}

/* ferry serch form */
.searchMainBox .formBox1 .onlyLabel{width:100%;display: flex;gap:1rem;}
.searchMainBox .formBox1 .onlyLabel .btns{width:40px;}
.searchMainBox .formBox1 .group{flex:1 1 200px;}
.searchMainBox .formBox1 .tripBox .group{border:1px solid lightblue;border-radius: .2rem;overflow: hidden;margin-bottom:1rem;}

/* ferry result cards */
.ferryResultTable{display: flex;justify-content: center;}
.ferryResultTable th, .ferryResultTable td{padding:.5rem;}
.ferryResultTable table{border-collapse: collapse;text-align: center;font-size:18px;}
.ferryResultTable table span{font-size:.8rem;color:#222;}
.ferryResultTable tbody tr:nth-child(odd){background:aliceblue;}
.ferryResultTable .btns .btn{padding:.4rem .5rem;background: linear-gradient(30deg,var(--colPri),rgb(0, 30, 128));box-shadow:.1rem .1rem .1rem rgba(0,0,0,.4);transition: .1s;border-radius:.5rem;font-size: 18px;font-weight: normal;}
.ferryResultTable .btns .btn:hover{color:#fff !important;transform:translate(.1rem,.1rem);box-shadow:.1rem .1rem .1rem rgba(0,0,0,.5);}

/* ferryStructure */
.ferryStructure .inner{display:flex;justify-content: center;flex-wrap: wrap;gap:1rem;}
.ferryStructure .structureBox{width:400px;position: relative;isolation: isolate;}
.ferryStructure .structureBox img{width:100%;z-index:-2;}
.ferryStructure .seat{height:25px;width:25px;border:1px solid #aaa;display: grid;place-items: center;font-size:12px;text-transform: uppercase;cursor: pointer;background:#fff;}
.ferryStructure .seat.booked{background:#ccc;cursor: not-allowed;}
.ferryStructure .seat.selected{background: green;}
.ferryStructure .seatBox .seats{display:flex;flex-wrap: wrap;gap:5px;}
.vessel1 .v1-royal .seatBox{position: absolute;top:48%;left:26%;height:180px;width:190px;display: flex;gap:1rem;justify-content: space-between;}
.vessel1 .v1-royal .seatBox .seats{width:45%;}
.vessel1 .v1-royal .seatBox .seats.left{height:135px;}
.vessel1 .v1-royal .seatBox .seats.right{margin-top:1rem;height:150px;}
.vessel1 .v1-luxury .seatBox1{position: absolute;top:24%;left:10%;height:280px;width:315px;display: flex;justify-content:center;align-items: center;transform-origin: center;gap:1rem;}
.vessel1 .v1-luxury .seatBox1 .seats{width:30%;justify-content: center;}
.vessel1 .v1-luxury .seatBox1 .seats.left{transform: skewX(-5deg);}
.vessel1 .v1-luxury .seatBox1 .seats.left .seat{transform: skewX(5deg)}
.vessel1 .v1-luxury .seatBox1 .seats.center{width:35%;justify-content: center;height:240px;}
.vessel1 .v1-luxury .seatBox1 .seats.center .subSeat1, .vessel1 .v1-luxury .seatBox1 .seats.center .subSeat2{display: flex;flex-wrap: wrap;gap:5px;}
.vessel1 .v1-luxury .seatBox1 .seats.center .subSeat1{width: 85px;height: 115px;}
.vessel1 .v1-luxury .seatBox1 .seats.center .subSeat2{height: 115px;}
.vessel1 .v1-luxury .seatBox1 .seats.center .subSeat2 > .seat{flex:1 1 calc(25% - 5px);}
.vessel1 .v1-luxury .seatBox1 .seats.right{transform: skewX(5deg)}
.vessel1 .v1-luxury .seatBox1 .seats.right .seat{transform: skewX(-5deg)}
.vessel1 .v1-luxury .seatBox2{position: absolute;top: 58%;left: 8%;height: 280px;width: 340px;display: flex;gap:1rem;justify-content: space-between;}
.vessel1 .v1-luxury .seatBox2 .seats{width:30%;}
.vessel1 .v1-luxury .seatBox2 .seats.center{width:39%;}

.vessel2 .seatBox .seats{gap:0px;height: min-content;}
.vessel2 .seatBox .seat{width:22px;height:28px;font-size:10px;}
.vessel2 .v2-royal .seatBox{position: absolute;top: 45%;left:15%;height:355px;width:275px;display: grid;grid-template-columns:3fr 6fr 3fr;}
.vessel2 .v2-royal .seatBox .seats{display: grid;gap:0px;max-height:330px;}
.vessel2 .v2-royal .seatBox .seats.left{grid-template-columns: 1fr 1fr;padding-right: 33%;}
.vessel2 .v2-royal .seatBox .seats.center{margin-top:6rem;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;max-height:200px;}
.vessel2 .v2-royal .seatBox .seats.right{display: flex;}
.vessel2 .v2-royal .seatBox .seats.right .subSeat1{width:100%;display: grid;grid-template-columns: 1fr 1fr 1fr;}
.vessel2 .v2-royal .seatBox .seats.right .subSeat2{display: grid;grid-template-columns: 1fr 1fr;padding-left:33%;}

.vessel2 .v2-luxury .seatBox1{position: absolute;top:18%;left:12%;height:280px;width:305px;display: flex;justify-content:space-between;align-items: center;transform-origin: center;}
.vessel2 .v2-luxury .seatBox1 .seats{width:67px;}
.vessel2 .v2-luxury .seatBox1 .seats.center{justify-content: center;width:135px;}
.vessel2 .v2-luxury .seatBox1 .subSeat1, .vessel2 .v2-luxury .seatBox1 .subSeat2{display: flex;flex-wrap: wrap;}
.vessel2 .v2-luxury .seatBox1 .seats.center .subSeat2{justify-content: center;}

.vessel2 .v2-luxury .seatBox2{position: absolute;top:44%;left:12%;width:305px;display: flex;justify-content:space-between;}
.vessel2 .v2-luxury .seatBox2 .seats{width:67px;}
.vessel2 .v2-luxury .seatBox2 .seats.center{justify-content: center;width:135px;margin-top: 3rem;}
.vessel2 .v2-luxury .seatBox2 .subSeat1, .vessel2 .v2-luxury .seatBox2 .subSeat2{display: flex;flex-wrap: wrap;}
.vessel2 .v2-luxury .seatBox2 .seats.center .subSeat2{justify-content: center;}

/* user detail mainbox */
.userDetailsMainBox .userDetails{padding:1rem;background:rgb(222, 240, 255);}
.userContactDetails{max-width:700px;margin:0 auto 1rem;}
.userContactDetails .ttl{text-align: center;font-size:1.5rem;font-weight:600;margin-bottom:1rem;}

.userDetails form{justify-content: center;}
.userDetails table{border-collapse: collapse;}
.userDetails table input, .userDetails table select{padding:.7rem .5rem;}
.userDetails table td{padding:.5rem .2rem;}
.userDetails table thead th{padding-bottom:.5rem;}
.userDetails table tbody tr{border-bottom:1px solid #fff;}



