

:root{
    --pageWidth:1000px;
}

/* global */
.mainBox>.inner{max-width:var(--pageWidth);margin:0 auto;}
.formBox1 input, .formBox1 select{border-radius:.5rem;}
.formBox1 .trip{display: flex;flex-wrap: wrap;gap: 1rem;align-items: center;}
.formBox1 .group.small{max-width:100px;}
.formBox1 form .btns{width: 100%;display:flex;justify-content: center;}
.btns .btn{border-radius:25px;max-width:200px;}
.btns .btn.icon{height:40px;width:40px;line-height: 50%;}
.formBox1 *:focus{outline: none;}

/* body */
body.ferryPages{background:rgb(224, 229, 234);}

.ferryPages .mainBox{background:#fff;max-width:1200px;margin:1rem auto;}
.ferryPages .mainBox.onlyTtlMainBox{background:transparent;text-align: center;}
.ferryPages .mainBox.onlyTtlMainBox .ttl{font-size: 2rem;}
.ferryPages .mainBox.onlyTtlMainBox .desc{font-size:1rem;}

/* ferry serch form */
.searchMainBox .formBox1 .onlyLabel{width:100%;display: flex;gap:1rem;}
.searchMainBox .formBox1 .onlyLabel .btns{width:40px;}
.searchMainBox .formBox1 .group{flex:1 1 200px;}
.searchMainBox .formBox1 .tripBox .group{border:1px solid lightblue;border-radius: .2rem;overflow: hidden;margin-bottom:1rem;}

/* ferry result cards */
.ferryResultCards{}
.ferryResultCards .card{background:rgb(223, 240, 255);max-width:1000px;padding:.5rem 2rem;border-radius:1rem;box-shadow:.3rem .3rem .5rem rgba(0,0,0,.2);margin-bottom: 1rem;}
.ferryResultCards .cardHead .dyDetail{font-weight: bold;}
.ferryResultCards .cardBody{display:flex;gap:1rem;justify-content: space-between;margin-top:1rem;}
.ferryResultCards .ferryDetails{max-width:150px;}
.ferryResultCards .ferryDetails .imgBox{width:100%;}
.ferryResultCards .ferryDetails .imgBox img{width:100%;border-radius:.5rem}
.ferryResultCards .ferryDetails .ferryName{text-align: center;}
.ferryResultCards .ferryDetails .includesIcons{display:flex;flex-wrap: wrap;margin-top:1rem;}
.ferryResultCards .ferryDetails .includesIcons>*{flex:1 1 26%;min-width:30px;}
.ferryResultCards .timingBox{background:#fff;height:80px;display:flex;justify-content: space-between;align-items: center;padding:1rem;border-radius:.5rem;}
.ferryResultCards .timingBox .sector{font-size:.7rem;}
.ferryResultCards .timingBox .duration{padding:.2rem 1rem;background:aliceblue;border-radius:1rem;}
.ferryResultCards .seatClasses{display:flex;flex-wrap: wrap;gap:1rem;padding-block:1rem;}
.ferryResultCards .seatClass{border:5px solid transparent;max-width:180px;display:flex;flex-direction: column;text-align: center;border-radius:.5rem;overflow: hidden;cursor: pointer;}
.ferryResultCards .seatClass>*{padding:.5rem;}
.ferryResultCards .seatClass .className{background-color:#5a7ef3;color:#fff;font-weight: bold;}
.ferryResultCards .seatClass .seatBox{background-color:#c8d6ff;}
.ferryResultCards .seatClass .priceBox{background-color:#dfe7ff;}
.ferryResultCards .seatClass.active{border-color: rgb(0, 0, 89);}
.ferryResultCards .bookBtns{max-width:100px;display:grid;place-items:center;}

.userDetailsMainBox .userDetails{background:rgb(207, 218, 227);padding:1rem;}
.userContactDetails{max-width:700px;margin:0 auto 1rem;}
.userContactDetails .ttl{text-align: center;font-size:1.5rem;font-weight:600;margin-bottom:1rem;}
.userContactDetails table td{min-width:170px;}
.userDetails table td{padding:.3rem .2rem;}

/* ferryStructure */
.ferryStructure .inner{display:flex;justify-content: center;flex-wrap: wrap;gap:1rem;}
.ferryStructure .structureBox{width:400px;position: relative;isolation: isolate;}
.ferryStructure .structureBox img{width:100%;z-index:-2;}
.ferryStructure .seat{height:25px;width:25px;border:1px solid #aaa;display: grid;place-items: center;font-size:12px;text-transform: uppercase;cursor: pointer;background:#fff;}
.ferryStructure .seat.booked{background:#ccc;cursor: not-allowed;}
.ferryStructure .seat.selected{background: green;}
.ferryStructure .seatBox .seats{display:flex;flex-wrap: wrap;gap:5px;}

.vessel1 .v1-business .seatBox{position: absolute;top:48%;left:26%;height:180px;width:190px;display: flex;gap:1rem;justify-content: space-between;}
.vessel1 .v1-business .seatBox .seats{width:45%;}
.vessel1 .v1-business .seatBox .seats.left{height:135px;}
.vessel1 .v1-business .seatBox .seats.right{margin-top:1rem;height:150px;}

.vessel1 .v1-premium .seatBox1{position: absolute;top:24%;left:10%;height:280px;width:330px;display: flex;gap:1rem;justify-content: space-between;background-color:green;}
.vessel1 .v1-premium .seatBox1 .seats{width:30%;background-color:rgb(2, 0, 128);}
.vessel1 .v1-premium .seatBox1 .seats.left{transform: skewX(-5deg);}
.vessel1 .v1-premium .seatBox1 .seats.left .seat{transform: skewX(5deg)}
.vessel1 .v1-premium .seatBox1 .seats.center{flex-direction: column;flex-wrap: wrap}
.vessel1 .v1-premium .seatBox1 .seats.right{transform: skewX(5deg)}
.vessel1 .v1-premium .seatBox1 .seats.right .seat{transform: skewX(-5deg)}
.vessel1 .v1-premium .seatBox2{position: absolute;top: 57%;
    left: 7%;
    height: 290px;
    width: 340px;display: flex;gap:1rem;justify-content: space-between;background-color:green;}
